[Unit]
Description=Podman Compose - Media Stack
Requires=network-online.target
After=network-online.target mnt-nas-media.mount

[Service]
Type=oneshot
RemainAfterExit=yes
User=dockeruser
Group=dockeruser
WorkingDirectory=/srv/containers
ExecStart=/usr/bin/podman-compose -f media.yml up -d
ExecStop=/usr/bin/podman-compose -f media.yml down
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target
