[Unit]
Description=Podman Compose - Web Stack
After=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
User=dockeruser
Group=dockeruser
WorkingDirectory=/home/dockeruser/compose/web
ExecStart=/usr/bin/podman-compose up -d
ExecStop=/usr/bin/podman-compose down

[Install]
WantedBy=multi-user.target
