[Unit]
Description=Podman Compose - Cloud Stack
After=network-online.target mnt-nas-nextcloud.mount mnt-nas-immich.mount
Requires=mnt-nas-nextcloud.mount mnt-nas-immich.mount

[Service]
Type=oneshot
RemainAfterExit=yes
User=dockeruser
Group=dockeruser
WorkingDirectory=/home/dockeruser/compose/cloud
ExecStart=/usr/bin/podman-compose up -d
ExecStop=/usr/bin/podman-compose down

[Install]
WantedBy=multi-user.target
