[Unit]
Description=Podman Compose - Cloud Stack
Requires=network-online.target
After=network-online.target mnt-nas-nextcloud.mount mnt-nas-immich.mount

[Service]
Type=oneshot
RemainAfterExit=yes
User=dockeruser
Group=dockeruser
WorkingDirectory=/srv/containers
ExecStart=/usr/bin/podman-compose -f cloud.yml up -d
ExecStop=/usr/bin/podman-compose -f cloud.yml down
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target
